/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.scoreboard {
  color: black;
  background: grey;
  width: 800px;
}

.whirlingShuriken {
  transform-origin: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { 
    transform: rotate(360deg);
  }
}
